*
{
	margin: 0;
	padding: 0;
}
body
{
	height: 1386px;
	width: 980px;
	/*border: 1px red solid;*/
}
.header
{
	
	width: 892px;
	margin: auto;
}
.square
{
	margin: 0;
	height: 61px;
	width: 110px;
    background-color: #D55D5C;
    position: relative;
    /*float: left;*/
    /*overflow: auto;*/
    /*padding-bottom: 0;*/
}
.square p
{
	font-size: 12px;
	color: #ffffff;
	font-family: "黑体";
	position: absolute;
	bottom: 5px;
	/*font-family:"Microsoft YaHei";*/
}
.data
{
	/*float: right;*/
	/*width: 892px;*/
	float: right;
	position: relative;
	top: -15px;
	/*text-align: right;*/
	font-size: 12px;
	font-family: "黑体";
	color: #d45d5c;
	
}
.line
{
	border: 2px #938e8c solid;

}
.container
{
	width: 892px;
	margin: auto;
	margin-top:32px; 
	/*overflow: hidden;*/
}

.content1
{
	float: left;
	width:641px;
	height:301px;
	/*position: relative;*/
	background-image: url(左上大图.png);
	/*z-index: 2;*/
}
.leftzhezhao
{
	width: 191px;
	height: 301px;
	float: left;
	background-color: green;
	opacity: 0.5;
	

}
.rightzhezhao
{
    width: 191px;
	height: 301px;
	float: right;
	background-color: pink;
	opacity: 0.5;
}
.content2
{
	/*float: right;*/
	height: 301px;
	/*width: 150px;*/
	padding-left: 686px;
	/*border-top: 2px #cc8091 solid;*/
}
.content2 h1
{
	border-top: 2px #cc8091 solid;
	font-size: 20px;
	color: #000000;
	font-family:"微软雅黑";
	line-height: 40px;
}
.content2 h1:first-letter
{
	font-size: 24px;
}
.content2 h2
{
	font-size: 12px;
	color: #676767;
	font-family: "楷体";
	line-height: 10px;
	width: 230px;
}
.content2 h3
{
	font-size: 116px;
	font-family:"微软雅黑";
	color: #75b86b;
}
.content2 h4
{
	position: relative;
	top: -25px;
	left: 8px;
	font-size: 55px;
	font-family:"微软雅黑";
	color: #CC8091;
}
.content2 h5
{
	position: relative;
	top: -75px;
	left: 100px;
	font-size: 21px;
	font-family:"微软雅黑";
	color: #cc8091;
}
.content2 h6
{
	position: relative;
	top: -80px;
	left: 100px;
	font-size: 12px;
	font-family:"微软雅黑";
	color: #cc8091;
}
.content3
{
	/*display: inline;*/
	width: 641px;
	margin-top: 20px;
	overflow: hidden;
}
.content3 .part1 p
{
	font-size: 16px;
	font-family: "微软雅黑";
	color: #418c59;
	margin-bottom: 10px;
}
.content3 .part1 
{
	font-size: 12px;
	font-family: "宋体";
	line-height: 20px;
	color: #767777;
	width: 220px;
	float: left;
	/*display: inline;*/
}
.content3 .part2 p
{
	font-size: 16px;
	font-family: "微软雅黑";
	color: #d2994f;
	margin-bottom: 10px;
}
.content3 .part2 
{
	font-size: 12px;
	font-family: "微软雅黑";
	line-height: 20px;
	color: #231815;
	opacity:0.7;
	width: 220px;
	float: left;
	
}
.content3 .part3 
{
	font-size: 12px;
	font-family: "微软雅黑";
	line-height: 20px;
	color: #231815;
	width: 200px;
	float: left;
}
.content3 .part3 p
{
	font-size: 16px;
	font-family: "微软雅黑";
	color: #cc7680;
	margin-bottom: 10px;
}

.content3 .part3 i
{
	font-size: 12px;
	color: #cd4a48;
	line-height: 16px;
	opacity: 0.7;
	font-family: "微软雅黑";
}

.content4
{
	width: 415px;
	/*border: 1px red solid;*/
    float: left;
    margin-top: 50px;
}
.top
{
	border-bottom: 2px #11456b solid;
    margin-bottom: 40px;
}
.top p
{
	font-size: 42px;
	line-height: 40px;
	/*padding: 20px 0;*/
	font-family: "黑体";
	color: #11456b;
	/*font-weight: bold;*/
	/*line-height: 16px;*/
	margin-bottom: 20px;
}
.top i
{
	font-size: 72px;
	color: #f5e327;
	font-family: "黑体";
    font-weight: bold;
}

.top span
{
    font-size:33px;
    color: #11456b;
    font-family: "黑体";
    font-weight: bold;
}

.text
{
	/*position: relative;*/
}

.text p
{
	font-size: 12px;
	font-family: "宋体";
	line-height: 23px;
	color: #767777;
	text-indent: 2em;
	clear: left;
}
.text img
{
	float: right;
	margin: 10px 0 0px 10px;
}
  /*首字浮动*/
.text:first-letter
{
	font-size: 70px;
	color: #f5e327;
	font-family: "微软雅黑";
	padding:0 3px 0 0;
	float: left;
}
.content5
{
	margin-top: 40px;
	margin-left: 10px;
	width: 458px;
	float: right;
}
.left-bottom
{
	background-image: url(右边中图.png);
    width: 458px;
    height: 275px;
    position: relative;
}
.zhezhao
{
    position: absolute;
    bottom: 0px;
	width: 420px;
	height: 61px;
	background-color: #87837F;
	padding-left: 40px;
	padding-top: 20px;
	opacity: 0.9;
}
.zhezhao p
{
	/*vertical-align: bottom;*/
	height: : 44px;
    border-left: 3px #72b16a solid;
    color: #ffffff;
    font-family: "微软雅黑";
    font-size: 26px;
}
.zhezhao i
{
	color: #72b16a;
	font-size: 12px;
	font-family: "微软雅黑";
}
.end
{
	margin-top: 50px;
	height: 339px;
	width: 455px;
	background-color:  #EEEED6;
	padding-top: 20px;
	position: relative;
}
.end p
{
	margin-top:20px;
	margin-bottom:20px;
	font-size: 16px;
	font-family: "黑体";
}
.end i
{
	font-size: 12px;
    color: #5a5b5b;
    font-family: "宋体";
}
.redzhezhao
{
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: #D55D5C;
	width: 260px;
	height: 160px;
	/*padding-left: 10px;*/
}
.redzhezhao span
{
	/*height: 20px;*/
	font-family: "微软雅黑";
	font-size: 110px;
	color: #ffffff;
    margin-left: 10px;
    float: left;
    /*border-right: 2px #ffffff solid;*/

}
.redzhezhao p
{
	float: left;
	border-left: 2px #ffffff solid;
    color: #ffffff;
    font-size: 12px;
    line-height: 21px;
}
.redzhezhao i
{
	font-size: 21px;
	color: #ffffff;
	line-height: 30px;
	font-family: "黑体";
}
.wenzi
{
	width: 180px;
	position: absolute;
	bottom: -20px;
	right: 2px;
}
.wenzi strong
{
	font-size: 72px;
	font-family: "黑体";
	color: #d45d5c;
	/*padding: ;*/
	/*float: left;*/
}
.wenzi p
{
	clear: right;
	clear: left;
}
.footer
{
	position: relative;
	border-bottom:1px #938e8c solid;
}
.footer p
{
	position: relative;
	right: -370px;
	bottom:-20px;
	/*right: 0px;*/
}